.items-container {
  margin: 0 24px 16px;

  min-height: 100px;

  overflow-x: hidden;
  overflow-y: auto;

  background-color: white;

  border-radius: 5px;
  box-shadow: 0 35px 50px -15px rgba(194, 195, 214, 0.5);
}

.scroll-container {
  overflow-y: auto;
  max-height: 312px;
}

.drag-hint {
  margin-top: 49px;

  color: #9495a5;
  text-align: center;
  font: 400 14px/1 Josefin Sans, sans-serif;
}

// Dark theme
.dark.items-container {
  box-shadow: none;
  background-color: #25273d;
}

.dark .drag-hint {
  color: #5b5e7e;
}

// Media
@media (min-width: 592px) {
  .scroll-container {
    max-height: calc(100vh - 380px);
  }

  .items-container {
    margin-left: 0;
    margin-right: 0;
  }
}
